body {
  color: #ddd;
  background-color: #111;
}

.jumbotron {
  color: #ddd;
  background-color: #444;
}

.form-control {
  background-color: #555;
}

.form-control:focus {
  background-color: #bbb;
}

button {
  margin-top: 15px;
}
